@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import "tailwindcss";
@import "@heroui/styles";

@theme inline {
	--color-background: var(--background);
	--color-secondary: var(--secondary);
	--color-defaultsecondary: #ffc3c3;
	--color-defaultbackground: #f9f8f0;
	--color-defaulttext: #7d4f4f;
	--color-border: var(--border);
	--color-card: var(--card);
	--color-text: var(--text);
	--color-border: var(--border);
	--font-lilita: "Lilita One", sans-serif;
}

body {
	@apply transition-colors ease-in-out;
}

::selection {
	background-color: var(--selection);
	color: var(--selection-text);
}

:root {
	--background: #f9f8f0;
	--secondary: #ffc3c3;
	--card: #fffded;
	--text: #7d4f4f;
	--selection: #7d4f4f;
	--selection-text: #f9f8f0;
	--border: #eeeeee;
}

.dark {
	--background: #252525;
	--secondary: #ffadad;
	--card: #292929;
	--text: #ffc3c3;
	--selection: #ffc3c3;
	--selection-text: #252525;
	--border: #2b2b2b;
}

.sidebar-scroll {
	scrollbar-width: thin;
	scrollbar-color: var(--background) transparent;
}

.sidebar-scroll::-webkit-scrollbar {
	width: 10px;
}

.sidebar-scroll::-webkit-scrollbar-track {
	background: transparent;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
	background: var(--background);
	border-radius: 99px;
}

.github-scroll {
	scrollbar-width: thin;
	scrollbar-color: var(--border) transparent;
}

.github-scroll::-webkit-scrollbar {
	height: 3px;
}

.github-scroll::-webkit-scrollbar-track {
	background: transparent;
}

.github-scroll::-webkit-scrollbar-thumb {
	background: var(--border);
	border-radius: 99px;
}
